h1{
  
  font-size:36px;
  text-shadow: 0 1px #000000;
}

ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

li
{
  float:left;
}

a:link,a:visited
{
  display:block;
  width:120px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#bebebe;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
}

a:hover,a:active
{
  background-color:#cc0000;
}


.welcome{
  background-color: LightGrey ;
  font-size:24px;
}
