<!DOCTYPE html>
<html>

<head>
  <title>口袋喂鸡竞技场！</title>
  <link rel="stylesheet" type="text/css" href="main.css"/>
</head>

<body>

  <h1>口袋喂鸡竞技场！！
    <ul>
      <li><a href="./index">首页</a></li>
      <li><a href="./characters">人物</a></li>
      <li><a href="./rules">规则</a></li>
    </ul>
  </h1>
  
  <p>【此处应有卡片图例解析】<br>
    每个人物有四个属性，战斗力，有爱值，存在感，和装填速度<br>
    与口袋喂鸡世界观类似，战斗力即为角色的战斗力，拥有更大更粗更长的战斗力的角色能造成更多的伤害。<br>
    有爱值则代表〇〇的耐久度。在防御模式时承受对方战斗力的伤害。有爱值降为零时，〇〇彻底崩坏，角色将在接下来的战斗中陷入战斗不能状态。<br>
    存在感表示小〇〇的耐久度。在攻击模式时承受对方战斗力的伤害。存在感降为零时，角色进入贤者模式，在存在感恢复至20%前只能部署在防御栏。<br>
    装填速度决定了存在感的恢复速度。会在每回合结束时恢复相应数值<br>
    另外，每个人物分别有属于自己的技能，这些技能将在战斗中起到至关重要的作用。<br><br><br>
    战斗开始前，玩家需要选择与战斗模式对应数量的人物，排兵布阵很重要的哦~<br>
    在3v3模式中，玩家需要在防御栏和特殊栏各部署一个人物，并决定是否在攻鸡栏部署人物。<br>
    署完毕后，双方的攻鸡栏人物进行一波互相伤害。如果其中一方未在攻鸡栏部署人物，则另一方的攻鸡栏人物单方面对该防御栏人物进行伤♂害。<br><br>
    在5v5模式中，玩家同样需要在防御栏和特殊栏各部署一个人物，并决定是否在攻鸡栏部署人物。<br>
    但与3v3模式不同的是，只有每回合未部署的人物才能在回合结束时恢复存在感。<br>
    当一方全部人物战斗不能时则战斗结束。
  
  
  
  </p>
   
  
</body>

</html>
